<div class="modal-backdrop" (click)="onClose()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <header class="modal-header">
      <h2>Create New Task</h2>
      <button class="close-btn"></button>
    </header>

    <form  
      class="modal-body"
      action=""
       #f="ngForm"
       novalidate
      (ngSubmit)="f.form.valid&&onSubmit()"
    >
      <div class="form-field">
        <label for="title">Title</label>
        <input
          id="task"
          name="task"
          type="text"
          [(ngModel)]="formdata.task" 
          #task="ngModel" 
          required
         />
          <p class="error-text" *ngIf="this.submit&&task.errors?.['required']">Please enter Task !</p>
      </div>

      <div class="form-field">
        <label for="description">Description</label>
        <textarea
          id="description"
          name="description"
          [(ngModel)]="formdata.description" 
          #description="ngModel"
          required
          minlength="10"
          placeholder="Add a more detailed description..."
        ></textarea>
        <div *ngIf="this.submit && description.invalid">
        <p class="error-text" *ngIf="description.errors?.['required']">Description is required!</p>
        <p class="error-text" *ngIf="description.errors?.['minlength']">Must be at least 10 characters.</p>
      </div>
      </div>


      <div class="form-field">
  <label for="assignto">Assign To (Hold Ctrl/Cmd to select multiple)</label>
  <select 
    id="assignto" 
    name="assignto"
    #assignto="ngModel" 
    [(ngModel)]="formdata.assignto" 
    required
    multiple> @for (user of allUsers; track user._id) {
      <option [value]="user._id">
        {{ user.username }}
      </option>
    }
  </select>
  <p class="error-text" *ngIf="this.submit && assignto.errors?.['required']">
    Please select a assigned users!
  </p>
</div>

      <div class="form-field">
        <label for="status">Status</label>
        <select id="status" name="status" #status="ngModel" [(ngModel)]="formdata.status" required>
          <option value="To Do">To Do</option>
          <option value="In Progress">In Progress</option>
          <option value="Done">Done</option>
        </select>
        <p class="error-text" *ngIf="this.submit && status.errors?.['required']">
          Please select a status!
        </p>
      </div>

      <footer class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()">
          Cancel
        </button>
        <button
          type="submit" class="btn btn-primary" value="register" (click)="submit=true"
        >
          {{ editTaskData?._id?.length > 0 ? "Save Changes" : "Create Task" }}
        </button>
      </footer>
    </form>
  </div>
</div>