<div class="board-header">
  <div class="filter-controls">
    <!-- <button
      class="btn"
    >
      All Tasks
    </button>
    <button
      class="btn"
    >
      My Tasks
    </button> -->
  </div>
  <button class="btn btn-primary" >+ Add User</button>
</div>

<div>
  <div class="board-container" cdkDropListGroup>
   

    <!-- Done Column -->
    <div class="column">
      <h2 class="column-title">Users</h2>
      <div
        id="done-list"
        class="task-list"
      >



      <div class="list-container">
        <div class="list-content">
        <img src="https://www.shutterstock.com/image-vector/default-avatar-social-media-display-600nw-2632690107.jpg" alt="image" />
        <h3 class="u-name">Dominic</h3>
        <p class="red-tag">Admin</p>
        </div>
        <div class="group-menu-container">
            <span></span>
            <span></span>
            <span></span>
            <ul class="group-menu-list">
                <li>Edit</li>
                <li>Delete</li>
            </ul>
        </div>
        
      </div>




      </div>
    </div>
  </div>
</div>


<!-- <app-add-edit-task  
></app-add-edit-task> -->